.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .custom-width {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .custom-width {
    width: 50%;
  }
}
.order-type-page .bootstrap-select > .dropdown-toggle {
  background-color: #fafafa !important;
  border: 1px solid #ced4da;
}
.form-control::placeholder {
  color: #999;
}
.login-modal .social_bt.google {
  border: 1px solid var(--dark-alt);
}
.login-modal .social_bt {
  justify-content: center;
}
.login-modal .social_bt span {
  flex-grow: 0;
}
