.page-title {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;
}
@media (max-width: 991px) {
  .page-title {
    font-size: 30px;
    line-height: 30px;
  }
}
.page-subtitle {
  font-family: "Biker";
  font-size: calc(1rem + 0.25vw);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
[dir="rtl"] .page-subtitle {
  font-family: "TexasAR";
}
/* Start of Search bar */
.search_bar_list {
  background-color: rgba(163,147,130,.1);
  border-radius: 10px;
  width: 100%;
}
.search_bar_list input.form-control {
  height: 58px;
  color: #2d2926;
  background-color: rgba(163,147,130,.1);
  border-radius: inherit;
}
.search_bar_list input::-webkit-input-placeholder {
  color: #aa9582;
  font-size: 1.25rem;
} 
.search_bar_list input::placeholder {
  color: #aa9582;
  font-size: 1.25rem;
}
[dir="ltr"] .search_bar_list .form-control {
  padding: 0.375rem 50px 0.375rem 0.75rem;
}
[dir="rtl"] .search_bar_list .form-control {
  padding: 0.375rem 0.75rem 0.375rem 50px;
}
.search_bar_list .search-icon {
  width: 50px;
}
/* End of Search bar */
/* Start of Location Map */
.location-map {
  width: 100%;
  height: calc(100vh - 130px);
  position: sticky;
  top: 1rem;
  background-color: #ddd;
}
/* End of Location Map */

/* Start of Mobile Location */
.mobile-location {
  color: var(--light);
  background-color: var(--alt-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .mobile-location {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .mobile-location {
    display: none;
  }
}
/* End of Mobile Location */
.location-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .location-item {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.location-items-wrapper .location-item:not(:last-child) {
  border-bottom: 1px solid #e3dfdf;
}
.location-item .location-item-title {
  font-size: calc(1.25rem + 0.5vw);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--alt-color);
  line-height: 1;
  margin-bottom: 0.5rem;
}
.location-item .location-item-title:hover {
  color: var(--main-color);
}
.location-item .location-item-desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.25rem;
}
.location-item .location-item-number {
  margin-bottom: 0.25rem;
  line-height: 1;
}
.location-item .location-item-days {
  margin-bottom: 1rem;
}
.location-item .location-item-number span,
.location-item .location-item-days span {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Biker";
}
[dir="rtl"] .location-item .location-item-number span,
[dir="rtl"] .location-item .location-item-days span {
  font-family: "TexasAR";
}
.location-item .location-item-options {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}
.location-item .location-item-options .option-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 10px;
}
.location-item .location-item-options .option-item img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.location-item .location-item-options .option-item .label {
  font-size: 1rem;
}
.location-item .location-item-spons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.location-item .location-item-spons .location-item-spon {
  display: flex;
}
.location-item .location-item-spons .location-item-spon img {
  width: 150px;
  height: 37px;
  object-fit: contain;
}
.location-item .location-item-controls {
  display: flex;
  gap: 1rem;
}
.text-biker {
  font-family: "Biker";
  text-transform: uppercase;
  font-weight: 700;
}
[dir="rtl"] .text-biker {
  font-family: "TexasAR";
}
